.error404 {
  .bt-main-content-ss {
    .bt-404-error {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 100px;
      &__img {
        img {
          max-width: 500px;
          margin: 0 auto;
          display: block;
          width: 100%;
        }
      }
      &__content {
        text-align: left;
        h2 {
          margin-top: 0;
          margin-bottom: 24px;
          font-size: 130px;
        }
        p {
          margin-top: 0;
          margin-bottom: 24px;
          font-size: 22px;
          line-height: 1.4;
        }
      }
    }
    @media (max-width: $break-tl) {
      padding: 30px 0 60px;
      .bt-404-error {
        gap: 50px; 
        &__content {
          text-align: left;
          h2 {
            font-size: 100px;
          }
          p {
            font-size: 18px;
          }
        }
      }
    }
    @media (max-width: 800px) {
      .bt-404-error {
        &__img {
          img {
            max-width: 400px;
          }
        }
      }
    }
    @media (max-width: $break-sm) {
      .bt-404-error {
        flex-wrap: wrap;
        gap: 10px;
        &__img {
          width: 100%;
          img {
            max-width: 300px;
          }
        }
        &__content {
          width: 100%;
          text-align: center;
          h2 {
            font-size: 120px;
            line-height: 1;
          }
        }
      }
    }
    @media (max-width: $break-xs) {
      .bt-404-error {
        &__content {
          h2 {
            font-size: 100px;
          }
        }
      }
    }
  }
}
