.xdsoft_datetimepicker {
  .xdsoft_datepicker {
    margin: 0;
    .xdsoft_mounthpicker {
      display: flex;
      justify-content: space-between;
      background: $color-accent;
      padding: 15px 0;
      margin: 0;
      .xdsoft_label {
        background: $color-accent;
        span {
          color: #fff;
          text-decoration: none !important;
        }
        i {
          background-image: url("data:image/svg+xml;base64,CjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMzIiIGhlaWdodD0iMzIiIHZpZXdCb3g9IjAgMCAzMiAzMiIgZmlsbD0ibm9uZSI+CjxwYXRoIGQ9Ik0yMCA4TDEyIDE2TDIwIDI0IiBzdHJva2U9IndoaXRlIiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPgo8L3N2Zz4K");
          background-position: center;
          opacity: 1;
          width: 18px;
          background-size: contain;
          background-repeat: no-repeat;
          transform: rotate(-90deg);
          margin-left: 3px;
        }
        > .xdsoft_select > div > .xdsoft_option {
          text-align: left;
          &:hover {
            background: $color-secondary;
          }
          &.xdsoft_current {
            background: $color-accent;
          }
        }
      }
      .xdsoft_prev,
      .xdsoft_next {
        background-image: url("data:image/svg+xml;base64,CjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMzIiIGhlaWdodD0iMzIiIHZpZXdCb3g9IjAgMCAzMiAzMiIgZmlsbD0ibm9uZSI+CjxwYXRoIGQ9Ik0yMCA4TDEyIDE2TDIwIDI0IiBzdHJva2U9IndoaXRlIiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPgo8L3N2Zz4K");
        background-position: center;
        opacity: 1;
        width: 30px;
      }
      .xdsoft_next {
        transform: rotate(180deg);
      }
      .xdsoft_today_button {
        display: none;
      }
    }
    .xdsoft_calendar {
      padding: 0;
      table {
        border: none !important;
        tr {
          th,
          td {
            border: none !important;
          }
          th {
            background: $color-secondary !important;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 24px;
          }
          td {
            &.xdsoft_today {
              color: $color-accent;
            }
            &.xdsoft_current {
              background: $color-secondary !important;
              color: $color-primary;
              opacity: 1;
            }
            &:hover {
              background: $color-secondary !important;
              color: $color-primary;
              opacity: 1;
            }
          }
        }
      }
    }
  }
  .xdsoft_timepicker {
    width: 130px;
    border: none !important;
    .xdsoft_prev,
    .xdsoft_next {
      margin-left: 50px;
    }
    .xdsoft_time_box {
      height: 200px;
    }
    .xdsoft_time_box > div.xdsoft_time_variant > div {
      &:hover {
        background: $color-accent !important;
        color: #fff !important;
      }
      &.xdsoft_current {
        background: $color-accent !important;
        color: #fff !important;
        border: 1px solid $color-secondary !important;
        opacity: 1;
      }
    }
  }
}
.mfp-wrap {
  .mfp-container {
    .rnb-popup {
      padding: 40px;
      position: relative;
      background: #fff;
      width: auto;
      width: 90%;
      max-width: 700px;
      margin: 20px auto;
      border: 10px solid $color-secondary;
      border-radius: 8px;
      @media (max-width: $break-sm) {
        padding: 15px;
      }
      p {
        span {
          font-weight: 700;
          text-transform: capitalize;
          font-size: 16px;
          margin-bottom: 4px;
          display: block;
        }
      }
      .quote-modal-message:not(:empty) {
        padding: 8px 20px;
        border-radius: 5px;
        margin: 10px 0;
        font-size: 16px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        background-color: #d4edda;
        color: #155724;
        border: 1px solid #c3e6cb;
      }
      .mfp-close {
        position: absolute;
        top: -20px;
        right: -20px;
        margin: 0;
        background: #fff;
        opacity: 1;
        border: 2px solid $color-accent;
        display: flex;
        padding: 0;
        font-size: 20px;
        justify-content: center;
        align-items: center;
        width: 32px;
        height: 32px;
      }
      .quote-submit {
        @media (max-width: $break-xs) {
          font-size: 14px;
        }
      }
    }
  }
}
.bt-field-type-radio {
  display: flex;
  flex-wrap: wrap;
  .item-radio {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &:not(:last-child) {
      margin-bottom: 12px;
    }
    &:has(input:checked) {
      label {
        font-weight: 700;
        color: $color-primary;
      }
      span {
        font-weight: 700;
        color: $color-primary;
      }
    }

    input[type="radio"] {
      position: absolute;
      background: transparent;
      padding: 0;
      width: 22px;
      height: 22px;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      margin: 0;
      z-index: 9;
      opacity: 0;
    }

    label {
      margin: 0;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 26px;
      text-transform: capitalize;
      color: $color-text;
      cursor: pointer;
    }
    .bt-count {
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 26px;
      text-transform: capitalize;
      color: $color-text;
    }
  }
}

.select2-container,
.elementor-editor-active .select2-container {
  font-size: 15px;
  line-height: 150%;
  min-height: 56px;

  &.select2-container--open {
    .select2-selection--single {
      .select2-selection {
        &__arrow {
          svg {
            transform: rotate(180deg);
          }
        }
      }
    }
  }

  .select2-selection--single {
    border-radius: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
    border-bottom: 1px solid #8c8c8c;
    gap: 10px;
    height: 58px;
    background: transparent;

    .select2-selection {
      &__arrow {
        width: 20px;
        height: auto;
        position: relative;
        svg {
          position: absolute;
          top: 50%;
          left: 50%;
          color: $color-accent;
          margin: -4px 0 0 -13px;
          transition: all 0.3s;
        }
      }
    }
  }

  &--default {
    .select2-selection--single .select2-selection {
      &__rendered {
        color: $color-text;
        line-height: 56px;
        padding: 0;
      }

      &__arrow {
        width: 40px;
        height: 54px;
      }
    }
    .select2-results__option--highlighted[aria-selected],
    .select2-results__option--highlighted[data-selected] {
      background-color: $color-accent;
    }
    .select2-results > .select2-results__options {
      @extend .__scrollbar_style;
    }
  }
}

.select2-dropdown,
.elementor-editor-active .select2-dropdown {
  border: none;
  overflow: hidden;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  z-index: 99999;
  // width: max-content !important;
}

.select2-search--dropdown,
.elementor-editor-active .select2-search--dropdown {
  padding: 8px;
  .select2-search__field {
    padding: 6px 16px;
    border-radius: 0;
  }
}
.select2-results__option,
.elementor-editor-active .select2-results__option {
  padding: 8px 24px;
}

.bt-container {
  max-width: $container;
  margin-left: auto;
  margin-right: auto;
  padding-left: $padding-start;
  padding-right: $padding-end;
}

.bt-fl-no-mg {
  > *:first-child {
    margin-top: 0 !important;
  }
  > *:last-child {
    margin-bottom: 0 !important;
  }
}

.bt-image-absolute {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
  object-fit: cover;
  margin: 0;
}

.bt-cover-image {
  position: relative;
  overflow: hidden;
  background: #cdcdcd; 
  background-image: url(../images/placeholder-image.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-bottom: 66.66%;
  img {
    @extend .bt-image-absolute;
    transition: all 0.3s;
  }
}

.bt-cover-iframe {
  position: relative;
  overflow: hidden;
  background: #cdcdcd;
  padding-bottom: 46.5%;
  iframe {
    @extend .bt-image-absolute;
  }
}

.bt-ab-center {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 5;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@keyframes animloadingwave {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

.bt-loading-wave {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80px;
  height: 80px;
  transform: translate(-50%, -50%);
  &::after,
  &::before {
    content: "";
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: $color-accent;
    position: absolute;
    left: 0;
    top: 0;
    animation: animloadingwave 2s linear infinite;
  }
  &::after {
    animation-delay: 1s;
  }
}

.bt-tabs {
  .bt-panel-item {
    display: none;
    &.bt-is-active {
      display: block;
    }
  }
}

.__bt-max-line-ellipsis {
  overflow: hidden;
  width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.__bt-button-style {
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  line-height: 150%;
  text-align: center;
  color: #ffffff;
  background: $color-accent;
  padding: 16px 40px;
  border: none;
  border-radius: 0;
  font-family: $primary-font;
  height: auto;
  min-height: auto;
  &:hover,
  &:focus {
    color: #ffffff;
    background: $color-accent;
  }

  @media (max-width: $break-xs) {
    font-size: 16px;
    padding: 12px 30px;
  }
}
.__bt-button-dark-style {
  @extend .__bt-button-style;
  background: $color-secondary;
  &:hover,
  &:focus {
    background: $color-secondary;
    border-color: $color-secondary;
  }
}
.__bt-button-outline-style {
  @extend .__bt-button-style;
  color: $color-accent;
  background: #ffffff;
  &:hover,
  &:focus {
    color: #ffffff;
    background: $color-accent;
  }
}
.__bt-button-outline-dark-style {
  @extend .__bt-button-style;
  color: $color-primary;
  background: #ffffff;
  border: 3px solid $color-primary;
  &:hover,
  &:focus {
    color: #ffffff;
    background: $color-secondary;
  }
}
.__scrollbar_style-x {
  overflow-x: auto;
  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    border-radius: 10px;
    background-color: #f1f1f1;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: $color-accent;
    cursor: pointer;
  }
  &::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #f1f1f1;
  }
}
.__scrollbar_style {
  overflow-y: auto;
  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    border-radius: 10px;
    background-color: #f1f1f1;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #a2a3ab;
    cursor: pointer;
  }
  &::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #f1f1f1;
  }
}
.__bt-format-post-content {
  color: $color-primary;
  > *:first-child {
    margin-top: 0 !important;
  }
  > *:last-child {
    margin-bottom: 0 !important;
  }
  h2 {
    font-size: 30px;
    margin: 16px 0;
    color: $color-primary;
    font-family: $secondary-font;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    text-transform: capitalize;
    @media (max-width: $break-xs) {
      font-size: 25px;
      line-height: 1.3;
    }
  }
  h3 {
    font-size: 24px;
    margin: 16px 0;
    color: $color-primary;
    font-family: $secondary-font;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    text-transform: capitalize;
    @media (max-width: $break-xs) {
      font-size: 22px;
      line-height: 1.3;
    }
  }
  ul {
    padding: 0;
    list-style: none;
    > li:not(.blocks-gallery-item) {
      position: relative;
      padding-left: 36px;
      &:before {
        content: "";
        display: inline-block;
        width: 24px;
        height: 24px;
        background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNSIgaGVpZ2h0PSIyNSIgdmlld0JveD0iMCAwIDI1IDI1IiBmaWxsPSJub25lIj48cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCIgZD0iTTIwLjkxOTYgNy4wMzMxOEMyMS4zMDA0IDcuNDMzMjAgMjEuMjg0OCA4LjA2NjE3IDIwLjg4NDggOC40NDY5Nkw5LjMyOTI1IDE5LjQ0NzVDOS4xMzE5MiAxOS42MzQ4IDguODY2NDggMTkuNzM0MCA4LjU5NDMxIDE5LjcyMTZDOC4zMjIxNCAxOS43MDkyIDguMDY2ODEgMTkuNTg2MyA3Ljg4NzM1IDE5LjM4MTNMMy40NDI5MSAxNC4zMDQ0QzMuMDc5MTMgMTMuODg4OSAzLjEyMTA5IDEzLjI1NzEgMy41MzY2NCAxMi44OTMzQzMuOTUyMTkgMTIuNTI5NSA0LjU4Mzk2IDEyLjU3MTUgNC45NDc3NSAxMi45ODcxTDguNzA1NDUgMTcuMjc5NUwxOS41MDU4IDYuOTk4MzVDMTkuOTA1OSA2LjYxNzU2IDIwLjUzODggNi42MzMxNiAyMC45MTk2IDcuMDMzMThaIiBmaWxsPSIjMkQ3N0RDIi8+PC9zdmc+");
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        left: 0;
        top: 1px;
      }
    }
  }
  
  .wp-block-gallery {
    --wp--style--unstable-gallery-gap: 20px;
    gap: 20px;
    @media (max-width: $break-sm) {
      --wp--style--unstable-gallery-gap: auto;
    }
    img {
      border-radius: 8px;
    }
    .blocks-gallery-item__caption {
      border-radius: 0 0 8px 8px;
    }
  }
  .wp-block-media-text {
    margin: 32px 0;
    gap: 20px;
    grid-template-columns: 1fr 52%;
    &__media {
      overflow: hidden;
      img {
        margin: 0 !important;
      }
    }
    &__content {
      padding: 0;
      > *:first-child {
        margin-top: 0 !important;
      }
      > *:last-child {
        margin-bottom: 0 !important;
      }
      ul,
      ol {
        padding-left: 23px;
      }
    }
    @media (max-width: $break-lg){
      grid-template-columns: 1fr !important;
      &__media{
        grid-column: 1;
        grid-row: 1;
      }
      &__content{
        grid-column: 1;
        grid-row: 2;
      }
    }
    @media (max-width: 600px) {
      margin-top: 32px;
    }
  }
  .wp-block-table{
    @media (max-width: $break-sm){
      overflow-y: auto;
      table tr td{
        min-width: 200px;
        width: 200px;
      }
    }
  }
  .wp-block-navigation {
    ul {
      margin: 0;
      padding: 0;
      li {
        margin: 0 10px 0 0;
        padding-left: 0;
        &:before {
          display: none;
        }
      }
    }
  }
  .wp-block-query {
    &-pagination {
      margin-top: 24px;
    }
    ul {
      margin: 0;
      padding: 0;
      li {
        padding-left: 0;
        &:before {
          display: none;
        }
        &:not(:last-child) {
          margin-bottom: 24px;
        }
      }
    }
    .wp-block-post {
      &-title {
        font-size: 24px;
        margin: 0 0 8px;
      }
    }
  }
  ul.wp-block-archives-list,
  ul.wp-block-categories-list,
  ul.wp-block-latest-posts__list,
  ul.wp-block-page-list,
  ul.wp-block-rss { 
    margin: 0 0 24px;
    padding: 0;
    ul {
      padding-left: 20px;
    }
  }
  ul.wp-block-social-links {
    margin: 0 0 24px;
    padding: 0;
    li {
      margin-bottom: 0;
      padding-left: 0;
      &:before {
        display: none;
      }
    }
  }
  .wp-block-latest-comments {
    margin: 0;
    padding: 0;
    ol {
      padding-left: 30px;
    }
    &__comment {
      position: relative;
    }
    &__comment-avatar {
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  .wp-block-search {
    &__button-inside {
      .wp-block-search__button {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        border-radius: 0 5px 5px 0;
      }
    }
    &__text-button {
      .wp-block-search__input {
        padding-right: 165px;
      }
    }
    &__icon-button {
      .wp-block-search__input {
        padding-right: 120px;
      }
    }
    &__inside-wrapper {
      position: relative;
      padding: 0;
    }
    &__button {
      border-radius: 5px;
    }
  }
}
.__bt-section-heading-style {
  text-align: center;
  margin-bottom: 32px;
  .bt-sub-text {
    color: $color-accent;
    font-family: $primary-font;
    font-size: 22px;
    font-weight: 500;
    line-height: normal;
    margin: 0 0 10px 0;
  }
  .bt-main-text {
    position: relative;
    font-size: 60px;
    text-transform: capitalize;
    margin: 0;
    z-index: 1;
    span {
      position: relative;
      display: inline-block;
      font-family: $secondary-font;
      color: $color-accent;
      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: -20%;
        width: 140%;
        height: 100%;
        background-image: url("../images/text-highlighted-bg.svg");
        background-repeat: no-repeat;
        background-size: cover;
        z-index: -1;
      }
    }
  }
  .bt-head-text {
    font-size: 20px;
    max-width: 640px;
    margin: 10px auto 0;
  }
  @media (max-width: $break-lg) {
    .bt-main-text {
      font-size: 46px;
    }
  }
  @media (max-width: $break-md) {
    .bt-sub-text {
      font-size: 18px;
    }
    .bt-main-text {
      font-size: 40px;
    }
    .bt-head-text {
      font-size: 18px;
      max-width: 560px;
    }
  }
  @media (max-width: $break-sm) {
    .bt-main-text {
      font-size: 36px;
    }
  }
  @media (max-width: $break-xs) {
    .bt-sub-text {
      font-size: 16px;
    }
    .bt-main-text {
      font-size: 32px;
    }
    .bt-head-text {
      font-size: 16px;
      max-width: 560px;
    }
  }
}

.__bt-block-heading-style {
  position: relative;
  margin: 0 0 20px 0;
  color: $color-primary;
  font-family: $secondary-font;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.1;
  padding-left: 23px;
  @media (max-width: $break-sm) {
    font-size: 20px;
  }
  &:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 8px;
    height: 100%;
    background: $color-accent;
    max-height: 30px;
    transform: translateY(-50%);
  }
}

.__bt-pagination-style {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  gap: 8px;
  .page-numbers {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    font-family: $primary-font;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    color: $color-primary;
    background: transparent;
    border-radius: 5px;
    text-transform: capitalize;
    border: 1px solid #e4e4e4;
    &:not(.current, .dots):hover {
      color: $color-accent;
      svg {
        path {
          fill: $color-accent;
        }
      }
    }
    &.current {
      width: 40px;
      color: #ffffff;
      background: $color-accent;
      border-color: $color-accent;
    }
    &.prev,
    &.next {
      width: 40px;
      font-size: 0;
      svg {
        width: 16px;
        height: 16px;
      }
    }
    &.prev {
      svg {
        transform: rotate(-180deg);
      }
    }
    &.dots {
      width: auto;
      border: none;
    }
  }
  @media (max-width: $break-xs) {
    &.prev {
      margin-right: 0;
    }
    &.next {
      margin-left: 0;
    }
  }
}

.__avg-rating-style {
  display: flex;
  align-items: center;
  gap: 4px;
  .bt-rating-stars {
    display: flex;
    gap: 4px;
    font-size: 0;
    line-height: 0;
    span {
      position: relative;
      color: #cdcdcd;
      &.bt-filled {
        color: #efcf0a;
      }
      &.bt-filled-half {
        position: relative;
        svg:last-child {
          position: absolute;
          top: 0;
          left: 0;
          fill: #efcf0a;
        }
      }
      svg {
        fill: currentColor;
        width: 16px;
        height: auto;
      }
    }
  }
  .bt-rating-count {
    font-size: 16px;
  }
}

.__bt-socials-style {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 4px;
  span {
    display: inline-block;
    font-family: $primary-font;
    font-size: 16px;
    font-weight: 700;
    line-height: 150%;
    color: $color-primary;
    margin-right: 9.88px;
  }
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #e4e4e4;
    &:hover {
      border-color: $color-secondary;
      background-color: $color-secondary;
    }
  }
}

.__instagram-posts-style {
  .bt-ins-posts {
    &--head {
      font-family: $primary-font;
      font-size: 26px;
      font-weight: 700;
      line-height: 150%;
      color: $color-primary;
      margin: 0 0 20px;
      span {
        font-family: $secondary-font;
        color: $color-accent;
      }
    }
    &--gallery {
      display: grid;
      column-gap: 12px;
      row-gap: 17px;
      &.bt-cols--2 {
        grid-template-columns: repeat(2, 1fr);
      }
      &.bt-cols--3 {
        grid-template-columns: repeat(3, 1fr);
      }
      &.bt-cols--4 {
        grid-template-columns: repeat(4, 1fr);
      }
    }
    &--image {
      .bt-cover-image {
        padding-bottom: 100%;
        border-radius: 10px;
      }
    }
    &--link {
      display: inline-flex;
      align-items: center;
      gap: 8px;
      font-family: $primary-font;
      font-size: 16px;
      font-weight: 700;
      line-height: 150%;
      text-decoration: underline;
      color: $color-accent;
      margin-top: 16px;
      svg {
        fill: currentColor;
      }
    }
  }
}

.__bt-newsletter-form-style {
  max-width: 833px;
  width: 100%;
  form {
    position: relative;
    text-align: left !important;
    display: flex;
    gap: 16px;
    @media (max-width: 870px) {
      flex-wrap: wrap;
      gap: 12px 2%;
    }
    label {
      display: none;
    }
    .tnp-field-surname,
    .tnp-field-email {
      width: 38%;
      margin-bottom: 0;
      @media (max-width: 870px) {
        width: 49%;
      }
      @media (max-width: $break-xs) {
        width: 100%;
      }
    }
    .tnp-field-button {
      width: 24%;
      margin-bottom: 0;
      @media (max-width: 870px) {
        width: 100%;
      }
    }
    input.tnp-surname,
    input.tnp-surname::placeholder,
    input.tnp-email,
    input.tnp-email::placeholder {
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 26px;
      color: #a2a3ab;
      font-family: $text-font;
      border-radius: 52px;
    }
    input.tnp-surname,
    input.tnp-email {
      width: 100%;
      border: none;
      background: #fff;
      margin: 0;
      max-width: 100%;
      padding: 14px 16px;
      color: $color-primary;
      @media (max-width: $break-sm) {
        max-width: 100%;
        padding: 10px 16px;
      }
    }
    input.tnp-submit {
      width: auto;
      font-size: 16px;
      font-family: $text-font;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      line-height: 24px;
      text-transform: capitalize;
      padding: 15px 82px 15px 40px;
      min-height: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0;
      color: $color-primary;
      background: $color-secondary;
      background-image: url("../images/icon-arrow-right-long.svg");
      background-position: center right 40px;
      background-repeat: no-repeat;
      background-size: 32px;
      z-index: 1;
      border-radius: 40px;
      @media (max-width: $break-sm) {
        padding: 13px 75px 13px 40px;
      }
    }
    .tnp-privacy-field {
      label {
        color: $color-text;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 36px;
        position: relative;
        padding-left: 30px;
        input {
          margin: 0;
          width: 20px;
          height: 20px;
          border: none;
          padding-block: 0;
          padding-inline: 0;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: 0;
          z-index: 2;
          opacity: 0;
          &:checked ~ .checkmark {
            background-image: url("../images/active-checkbox.svg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            background-size: 75%;
          }
        }
        .checkmark {
          width: 20px;
          height: 20px;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: 0;
          background: #fff5f4;
          border: 1px solid #ccc;
        }
        a {
          color: $color-text;
          &:hover {
            color: $color-text;
          }
        }
      }
    }
  }
}

.__bt_gfield_checkbox {
  .gchoice {
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 30px;
    input {
      margin: 0;
      width: 20px;
      height: 20px;
      border: none;
      padding-block: 0;
      padding-inline: 0;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      z-index: 2;
      opacity: 0;
      &:checked ~ .checkmark {
        background-image: url("../images/active-checkbox.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-size: 75%;
      }
    }
    .checkmark {
      width: 20px;
      height: 20px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      background: #fff5f4;
    }
    label {
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: 36px;
      color: #fff;
      margin: 0;
      a {
        text-decoration: underline;
        color: #fff;
      }
    }
  }
}

.bt-primary-btn {
  display: flex;
  width: fit-content;
  align-items: center;
  gap: 10px;
  padding: 16px 40px;
  font-size: 16px;
  line-height: 1.5;
  color: $color-primary;
  border-radius: 100px;
  background-color: $color-secondary;
  font-family: $primary-font;
  font-weight: 700;
  white-space: nowrap;
  &:hover {
    box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.1);
  }
  @media only screen and (max-width: 1024px) {
    padding: 12px 26px;
  }
}
