.bt-style-reponsive-nav {
  > a {
    @media (min-width: 1025px) and (max-width: 1199.98px) {
      font-size: 18px;
    }
  }

  &:not(:last-child) {
    > a {
      @media (min-width: 1025px) and (max-width: 1199.98px) {
        margin-inline-end: calc(var(--e-nav-menu-horizontal-menu-item-margin) / 2);
      }
    }
  }

  &:not(:first-child) {
    > a {
      @media (min-width: 1025px) and (max-width: 1199.98px) {
        margin-inline-start: calc(var(--e-nav-menu-horizontal-menu-item-margin) / 2);
      }
    }
  }
}

.bt-site-header {
  position: relative;
  z-index: 999;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
  .bt-header-row {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .bt-logo-col {
    width: 20%;
  }
  .bt-primary-menu-col {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .bt-site-logo {
    height: 98px;
    display: flex;
    align-items: center;
    a {
      display: inline-block;
      line-height: 0;
      padding: 10px 0;
      img {
        max-width: 182px;
        width: 100%;
        height: auto;
      }
    }
  }
  .bt-primary-menu {
    .bt-page-menu-wrap,
    .bt-primary-menu-container {
      ul {
        list-style: none;
        margin: 0;
        padding: 0;
        .current_page_item,
        .current-menu-item {
          a {
            color: $color-accent;
          }
        }
        a {
          display: inline-block;
          font-family: $primary-font;
          color: $color-primary;
          font-size: 16px;
          font-weight: 500;
          line-height: 130%;
          &:hover {
            color: $color-accent;
          }
        }
        .page_item_has_children,
        .menu-item-has-children {
          position: relative;
          &:hover {
            > ul {
              opacity: 1;
              visibility: visible;
            }
          }
          ul {
            position: absolute;
            top: 100%;
            left: 0;
            min-width: 200px;
            background: #fff;
            opacity: 0;
            visibility: hidden;
            box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
            -webkit-transition: all 0.3s;
            transition: all 0.3s;
            &.bt-align-left {
              left: 0;
              right: auto;
            }
            &.bt-align-right {
              left: auto;
              right: 0;
            }
            li:not(:first-child) {
              border-top: 1px solid #c4c4c4;
            }
            .current_page_item,
            .current-menu-item {
              a {
                color: $color-accent;
              }
            }
            a {
              display: block;
              color: $color-text;
              padding: 12px 15px;
              &:hover {
                color: $color-accent;
              }
            }
            ul {
              top: 0;
              left: 100%;
              &.bt-align-left {
                left: 100%;
                right: auto;
              }
              &.bt-align-right {
                left: auto;
                right: 100%;
              }
            }
          }
        }
      }
      > ul {
        display: flex;
        align-items: center;
        gap: 10px 20px;
        &#menu-all-pages-flat {
          flex-wrap: wrap;
          > li > a {
            min-height: unset;
          }
        }
        > li > a {
          min-height: 98px;
          display: flex;
          align-items: center;
        }
      }
    }
  }
  .bt-menu-toggle {
    position: relative;
    display: none;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    cursor: pointer;
    border: 1px solid #9b9b9b;
    border-radius: 10px;
    z-index: 5;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    &.bt-is-hidden {
      opacity: 0;
      visibility: hidden;
    }
    &.bt-menu-close {
      position: absolute;
      top: 26px;
      right: 22px;
    }
  }
  @media (max-width: $break-md) {
    .bt-logo-col {
      width: 70%;
    }
    .bt-primary-menu-col {
      width: 30%;
    }
    .bt-primary-menu {
      position: fixed;
      top: 0;
      right: 0;
      width: 263px;
      height: 100vh;
      overflow: auto;
      z-index: 9;
      opacity: 0;
      visibility: hidden;
      background: rgba(245, 245, 245, 0.95);
      -webkit-box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);
      box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
      -webkit-transition: all 0.5s;
      transition: all 0.5s;
      &.bt-is-active {
        opacity: 1;
        visibility: visible;
        -webkit-transform: translateX(0);
        transform: translateX(0);
      }
      .bt-page-menu-wrap,
      .bt-primary-menu-container {
        padding: 120px 30px 30px;
        ul {
          .page_item_has_children,
          .menu-item-has-children {
            .bt-toggle-icon {
              position: absolute;
              top: 9px;
              right: 0;
              width: 24px;
              height: 24px;
              cursor: pointer;
              background-image: url("../images/alt-arrow-down.svg");
              background-repeat: no-repeat;
              background-position: center;
              background-size: 12px 8px;
              -webkit-transition: all 0.3s;
              transition: all 0.3s;
              &.bt-is-active {
                -webkit-transform: rotate(180deg);
                transform: rotate(180deg);
              }
            }
            ul {
              display: none;
              position: static;
              opacity: 1;
              visibility: visible;
              background: transparent;
              box-shadow: none;
              li {
                border-top: 1px solid #c4c4c4;
                &:not(:first-child) {
                  border-color: #c4c4c4;
                }
              }
              a {
                color: $color-primary;
              }
            }
          }
        }
        > ul {
          flex-direction: column;
          align-items: flex-start;
          gap: 0;
          > li {
            width: 100%;
            &:not(:first-child) {
              border-top: 1px solid #c4c4c4;
            }
            > a {
              display: block;
              min-height: unset;
              padding: 12px 0;
            }
          }
        }
      }
    }
    .bt-menu-toggle {
      display: flex;
    }
  }
}
@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}
/* Elementor Header */
.elementor-location-header {
  position: relative;
  .elementor-element {
    &.bt-site-info-top-header {
      @media (max-width: 650px) {
        .bt-elwg-site-infor {
          &--item {
            &.time {
              display: none;
            }
          }
        }
      }
      @media (max-width: $break-xs) {
        .bt-elwg-site-social {
          a {
            width: 35px;
            height: 35px;
            svg {
              width: 18px;
            }
          }
        }
      }
      @media (max-width: 372px) {
        .bt-elwg-site-social {
          a {
            width: 30px;
            height: 30px;
           &:nth-child(n+5){
            display: none;
           }
          }
        }
      }
    }
    &.bt-header-main-nav {
      &.elementor-sticky {
        &--effects {
          box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.1);
        }
      }
      > .e-con-inner {
        > .elementor-element {
          .elementor-widget-nav-menu {
            > .elementor-widget-container {
              .elementor-nav-menu {
                .elementor-item {
                  &::after {
                    top: 50%;
                    margin-top: 13px;
                  }
                  .sub-arrow {
                    padding: 4px 0 0 6px;
                    svg {
                      height: 12px;
                      width: 12px;
                    }
                  }
                }
              }
            }
          }
          @media (max-width: $break-lg) and (min-width: $break-tl) {
            gap: 10px;
            &:first-child {
              width: 73%;
              .elementor-widget-nav-menu {
                --e-nav-menu-horizontal-menu-item-margin: 10px;
              }
            }
            &:last-child {
              width: 27%;
              gap: 10px;
              .elementor-widget-button {
                .elementor-widget-container {
                  margin-right: 0;
                  .elementor-button-wrapper {
                    .elementor-button {
                      padding: 16px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    &.bt-header-nav-style-1 {
      &.elementor-sticky {
        &--effects {
          box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.1);
        }
      }
      > .e-con-inner {
        > .elementor-element {
          .elementor-widget-nav-menu {
            > .elementor-widget-container {
              .elementor-nav-menu {
                .elementor-item {
                  &::after {
                    top: 50%;
                    margin-top: 13px;
                  }
                  .sub-arrow {
                    padding: 4px 0 0 6px;
                    svg {
                      height: 12px;
                      width: 12px;
                    }
                  }
                }
              }
            }
          }
          .elementor-widget-bt-site-information-style-1 {
            .bt-elwg-site-infor--style-1 {
              .bt-elwg-site-infor {
                &--item-icon {
                  min-width: 52px;
                  min-height: 52px;
                  svg {
                    max-width: 26px;
                  }
                }
                &--item-content {
                  h4 {
                    display: none;
                  }
                }
              }
            }
          }
          @media (max-width: 1410px) and (min-width: $break-tl) {
            .elementor-widget-bt-site-information-style-1 {
              display: none;
            }
            &:first-child {
              width: 68%;
            }
            &:last-child {
              width: 32%;
            }
          }
          @media (max-width: $break-lg) and (min-width: $break-tl) {
            gap: 10px;
            &:first-child {
              width: 73%;
              .elementor-widget-nav-menu {
                --e-nav-menu-horizontal-menu-item-margin: 10px;
              }
            }
            &:last-child {
              width: 27%;
              gap: 10px;
              .elementor-widget-button {
                .elementor-widget-container {
                  margin-right: 0;
                  .elementor-button-wrapper {
                    .elementor-button {
                      padding: 16px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    &.bt-header-nav-style-2 {
      > .e-con-inner {
        > .elementor-element {
          &.elementor-sticky {
            &--effects {
              box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.1);
            }
          }
          @media (max-width: $break-lg) and (min-width: $break-tl) {
            gap: 10px;
            padding-left: 15px;
            padding-right: 15px;
          }
          > .elementor-element {
            .elementor-widget-nav-menu {
              > .elementor-widget-container {
                .elementor-nav-menu {
                  .elementor-item {
                    &::after {
                      top: 50%;
                      margin-top: 13px;
                    }
                    .sub-arrow {
                      padding: 4px 0 0 6px;
                      svg {
                        height: 12px;
                        width: 12px;
                      }
                    }
                  }
                }
              }
            }
            .elementor-widget-bt-site-information-style-1 {
              .bt-elwg-site-infor--style-1 {
                .bt-elwg-site-infor {
                  &--item-icon {
                    min-width: 52px;
                    min-height: 52px;
                    svg {
                      max-width: 26px;
                    }
                  }
                  &--item-content {
                    h4 {
                      display: none;
                    }
                  }
                }
              }
            }
            @media (max-width: 1500px) and (min-width: 1420px) {
              &:first-child {
                width: 65%;
              }
              &:last-child {
                width: 35%;
              }
              .elementor-widget-bt-site-information-style-1 {
                .bt-elwg-site-infor--item-content {
                  display: none;
                }
              }
            }
            @media (max-width: 1420px) and (min-width: $break-tl) {
              .elementor-widget-bt-site-information-style-1 {
                display: none;
              }
              &:first-child {
                width: 68%;
              }
              &:last-child {
                width: 32%;
              }
            }
            @media (max-width: 1270px) and (min-width: $break-tl) {
              &:first-child {
                width: 73%;
                gap: 15px;
                .elementor-widget-nav-menu {
                  --e-nav-menu-horizontal-menu-item-margin: 10px;
                }
                .elementor-widget-theme-site-logo {
                  img {
                    max-width: 160px;
                  }
                }
              }
              &:last-child {
                width: 27%;
                gap: 10px;
                .elementor-widget-button {
                  .elementor-widget-container {
                    margin-right: 0;
                    .elementor-button-wrapper {
                      .elementor-button {
                        padding: 16px;
                        font-size: 15px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    .elementor-nav-menu {
      > li {
        > ul.elementor-nav-menu--dropdown {
          min-width: 240px !important;
          padding: 12px;
          left: -24px !important;
          ul.elementor-nav-menu--dropdown {
            min-width: 240px !important;
            padding: 12px;
          }
          .elementor-sub-item {
            border-radius: 8px !important;
            border-inline-start: none !important;
            &.has-submenu {
              display: flex;
              justify-content: space-between;
              svg {
                height: 12px;
                width: 12px;
              }
            }
          }
          .menu-item {
            &.menu-item-has-children {
              .elementor-nav-menu--dropdown {
                margin-left: 227px !important;
                border-radius: 20px;
                margin-top: -30% !important;
              }
            }
          }
        }
        &:not(:first-child) {
          > ul.elementor-nav-menu--dropdown {
            left: calc(var(--e-nav-menu-horizontal-menu-item-margin) - 24px) !important;
          }
        }
      }
    }
  }
}
body.admin-bar .dialog-type-lightbox {
  &.bt-menu-mobile-popup {
    position: fixed;
    top: 45px;
  }
}
.bt-menu-mobile-popup {
  position: fixed !important;
  .elementor-nav-menu {
    a.has-submenu {
      display: flex;
      justify-content: space-between;
      i,
      svg {
        transition: all 0.3s;
      }
      &.highlighted .sub-arrow {
        i,
        svg {
          transform: rotate(180deg);
        }
      }
    }
    ul.elementor-nav-menu--dropdown {
      &.sub-menu ul.sub-menu {
        padding-left: 20px;
      }
      a.elementor-sub-item {
        position: relative;
        padding-left: 50px;
        font-family: $text-font !important;
        font-size: 16px !important;
        font-weight: 500 !important;
        color: $color-primary;
        border: none;
        &:before {
          content: "";
          position: absolute;
          top: 25px;
          left: 20px;
          width: 18px;
          height: 1px;
          background: $color-primary;
        }
      }
    }
  }
}
.bt-mega-menu {
  a {
    -webkit-transition: none;
    transition: none;
  }

  .bt-mega-menu-service {
    width: 100% !important;
  }
  .bt-mega-menu-shop {
    width: 100% !important;
    .bt-elwg-offer-box--default {
      .bt-offer--image {
        display: none;
      }
      .bt-offer--infor {
        width: 100%;
        padding: 25px;
        .bt-offer--inner {
          padding: 25px;
          border-radius: 8px;
          gap: 0;
          .bt-offer--heading {
            margin: 12px 0 10px 0;
          }
          .bt-offer--button {
            margin-top: 20px;
          }
        }
        .bt-line {
          .bt-line-right {
            display: block;
            right: -10px;
          }
          .bt-line-top,
          .bt-line-bottom {
            right: 10px;
          }
        }
      }
    }
  }
  .bt-mega-menu-pages {
    .elementor-icon-list-items {
      .elementor-icon-list-item {
        a {
          -webkit-transition: all 0.3s;
          transition: all 0.3s;
        }
        &:hover {
          .elementor-icon-list-text {
            color: $color-accent;
          }
        }
      }
    }
    .bt-elwg-post-loop-item--default {
      .bt-post--inner {
        .bt-cover-image {
          min-height: 200px;
          border-radius: 8px !important;
        }
        .bt-post--content {
          padding-top: 10px;
          .bt-post--title {
            overflow: hidden;
            width: 100%;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
          }
          .bt-post--excerpt {
            display: none;
          }
        }
      }
    }
  }
  &.style-1 {
    .bt-mega-menu-service {
      @media (min-width: 1760px) {
        margin-left: -150px;
      }
    }
    .bt-mega-menu-shop {
      @media (min-width: 1760px) {
        margin-left: -150px;
      }
    }
  }
  .e-n-menu-dropdown-icon {
    margin-left: 0 !important;
  }
  &.elementor-widget-n-menu {
    > .elementor-widget-container {
      > .e-n-menu {
        > .e-n-menu-wrapper {
          > .e-n-menu-heading {
            > .e-n-menu-item {
              > .e-n-menu-title {
                .e-n-menu-title-text {
                  position: relative;
                  &::before {
                    background: $color-secondary;
                    content: "";
                    top: 50%;
                    left: 0;
                    width: 0;
                    height: 2px;
                    display: block;
                    position: absolute;
                    margin-top: 13px;
                    transition: 0.5s all;
                  }
                }
                &.e-current,
                &:hover {
                  .e-n-menu-title-text {
                    &::before {
                      width: 100%;
                    }
                  }
                }
              }
              &:not(.bt-submenu-content) {
                .e-n-menu-content {
                  .e-n-menu-heading {
                    > .e-n-menu-item {
                      width: 100%;
                      > .e-n-menu-title {
                        position: relative;
                        &::before {
                          background: $color-secondary;
                          content: "";
                          top: 50%;
                          width: 0;
                          height: 2px;
                          display: block;
                          position: absolute;
                          margin-top: 13px;
                          transition: 0.3s all;
                        }
                        &.e-current,
                        &:hover {
                          &::before {
                            width: 30px;
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  @media (max-width: 1300px) and (min-width: $break-tl) {
    &.elementor-widget-n-menu {
      > .elementor-widget-container {
        > .e-n-menu {
          > .e-n-menu-wrapper {
            > .e-n-menu-heading {
              > .e-n-menu-item {
                > .e-n-menu-title {
                  padding: 30px 15px;
                }
              }
            }
          }
        }
      }
    }
  }
  @media (max-width: $break-lg) and (min-width: $break-tl) {
    .bt-mega-menu-shop {
      > .e-con-inner {
        > .elementor-element {
          padding-left: 20px;
          padding-right: 15px;
          > .e-con-inner {
            > .elementor-element {
              &:first-child {
                width: 35%;
              }
              &:last-child {
                width: 65%;
                padding-left: 0;
              }
            }
          }
        }
      }
    }
  }
  @media (max-width: 1130px) and (min-width: $break-tl) {
    &.elementor-widget-n-menu {
      > .elementor-widget-container {
        > .e-n-menu {
          > .e-n-menu-wrapper {
            > .e-n-menu-heading {
              > .e-n-menu-item {
                > .e-n-menu-title {
                  padding: 30px 11px;
                }
              }
            }
          }
        }
      }
    }
    .bt-mega-menu-service {
      > .e-con-inner {
        > .elementor-element {
          gap: 20px;
          .bt-elwg-service-loop-item--menu .bt-post--title {
            font-size: 18px;
          }
        }
      }
    }
  }
}
.elementor-widget-n-menu .e-n-menu:not([data-layout="dropdown"]):not(.content-above) {
  .bt-submenu-content {
    position: relative;
    &:hover {
      .e-n-menu-content {
        > .e-con {
          display: block !important;
        }
      }
    }
    .e-n-menu-content {
      left: -8px;
      max-width: 200px;
      > .e-con {
        left: 0 !important;
      }
      .e-n-menu-wrapper {
        .e-n-menu-heading {
          > .e-n-menu-item {
            width: 100%;
            > .e-n-menu-title {
              position: relative;
              &::before {
                background: $color-secondary;
                content: "";
                top: 50%;
                width: 0;
                height: 2px;
                display: block;
                position: absolute;
                margin-top: 13px;
                transition: 0.3s all;
              }
              &.e-current,
              &:hover {
                &::before {
                  width: 30px;
                }
              }
            }
          }
        }
      }
    }
  }
}
