.bt-site-titlebar {
  position: relative;
  padding: 109px 0 115px;
  overflow: hidden;
  background: $color-background;
  &.bt-no-bubble{
    &::before,&::after{
      display: none;
    }
    .bt-page-titlebar {
      &::before{
        display: none;
      }
    }
  }
  .bt-titlebar-overlay{
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
  }
  @media (max-width: $break-tl) {
    padding-top: 60px;
    padding-bottom: 110px;
  }
  @media (max-width: $break-sm) {
    padding-top: 50px;
    padding-bottom: 80px;
  }
  &:before {
    content: "";
    background-image: url("../images/bubble-titlebar-min.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 140px;
    height: 138px;
    position: absolute;
    left: 9%;
    bottom: 14%;
    animation-name: effectDeformY;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    @media (max-width: $break-tl) {
      width: 93px;
      height: 92px;
      left: 2%;
    }
    @media (max-width: $break-sm) {
      width: 70px;
      height: 69px;
      left: 2%;
      bottom: 5%;
    }
  }
  &::after {
    content: "";
    background-image: url("../images/bubble-titlebar-min.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 335px;
    height: 331px;
    position: absolute;
    left: 10%;
    bottom: -67%;
    transform: rotate(0) scale(1);
    animation: bubble 6s ease-in-out 3s infinite alternate;
    @media (max-width: $break-tl) {
      width: 276px;
      height: 273px;
      left: 2%;
      bottom: -74%;
    }
    @media (max-width: $break-sm) {
      display: none;
    }
  }
  .bt-wave {
    overflow: hidden;
    position: absolute;
    left: 0;
    width: 100%;
    line-height: 0;
    direction: ltr;
    bottom: -1px;
    transform: rotate(180deg);
    z-index: 2;
    svg {
      display: block;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      width: calc(122% + 1.3px);
      height: 75px;
      z-index: -1;
      @media (max-width: $break-tl) {
        width: calc(127% + 1.3px);
        height: 55px;
      }
      @media (max-width: $break-sm) {
        width: calc(144% + 1.3px);
        height: 40px;
      }
      path {
        fill: #fff;
        transform-origin: center;
        transform: rotateY(0deg);
      }
    }
  }
  .bt-page-titlebar {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    &::before {
      content: "";
      background-image: url("../images/bubble-titlebar-min.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      width: 291px;
      height: 287px;
      position: absolute;
      right: 10%;
      bottom: -23%;
      animation-name: effectDeformY;
      animation-duration: 3s;
      animation-timing-function: ease-in-out;
      animation-direction: alternate;
      animation-iteration-count: infinite;
      @media (max-width: $break-tl) {
        width: 210px;
        height: 207px;
        right: 2%;
        bottom: -28%;
      }
      @media (max-width: $break-sm) {
        width: 134px;
        height: 132px;
        bottom: -65px;
      }
    }

    &--breadcrumb {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 4px;
      font-size: 14px;
      line-height: 22px;
      color: rgba(33, 33, 33, 0.5);
      position: relative;
      z-index: 3;
      a {
        color: $color-primary;
      }
      .bt-deli {
        display: flex;
      }
      .current {
        color: rgba(33, 33, 33, 0.5);
        display: flex;
        align-items: center;
        gap: 4px;
        flex-wrap: wrap;
      }
      .bt-pages {
        color: rgba(33, 33, 33, 0.5);
        display: flex;
        align-items: center;
        gap: 4px;
        flex-wrap: wrap;
        .bt-deli {
          display: none;
        }
      }
    }
    &--title {
      margin: 12px 0 0;
      font-size: 56px;
      font-style: normal;
      font-weight: 700;
      line-height: 68px;
      position: relative;
      z-index: 3;
      @media (max-width: $break-sm) {
        margin: 10px 0 0;
        font-size: 42px;
        line-height: 1.2em;
      }
    }
  }
}
