@font-face {
    font-family: "Urbanist";
    src:
      local("Urbanist-Bold"),
      url("Urbanist-Bold.ttf") format("truetype"),;
    font-weight: 700;
  }
  @font-face {
    font-family: "Urbanist";
    src:
      local("Urbanist-Semibold"),
      url("Urbanist-SemiBold.ttf") format("truetype"),;
    font-weight: 600;
  }
  @font-face {
    font-family: "Urbanist";
    src:
      local("Urbanist-Medium"),
      url("Urbanist-Medium.ttf") format("truetype"),;
    font-weight: 500;
  }
  @font-face {
    font-family: "Urbanist";
    src:
      local("Urbanist-Regular"),
      url("Urbanist-Regular.ttf") format("truetype"),;
    font-weight: 400;
  }
  @font-face {
    font-family: "Urbanist";
    src:
      local("Urbanist-Italic"),
      url("Urbanist-Italic.ttf") format("truetype"),;
    font-weight: 400;
    font-style: italic;
  }
  